<h1>Billboards</h1>
<% @billboards.each do |billboard|%>
<h2><%= billboard.name %> </h2>
<%= link_to 'Show billboard', billboard_path(billboard)%>
<%= link_to 'Edit billboard', edit_billboard_path(billboard)%>
<%= link_to 'Delete billboard', billboard,  method: :delete%>
<% end %>

<h1>Create New Billboard</h1>
<%= link_to 'New billboard', new_billboard_path%>
<h1>Artists</h1>
<%= link_to 'Artist', artists_path%>